# Push the nginx image to DockerHub
name: Build and Push

on:
  workflow_dispatch:
    

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in into Docker Hub
        uses: docker/login-action@v3
        with: 
          username: diavor171
          password: ${{ secrets.DOCKER_PERSONAL_ACCESS_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
          
      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: ./nginx
          push: true
          tags: |
            diavor171/typing_challenge:latest

          
